node-red/.flows.json.backup
[
    {
        "id": "c13746f9bcfb86b9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cec62dbab95ce82",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "edb188411f8d8f7f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "208fb9c37be52648",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d0029b07906ee458",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#00eeff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#00eeff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#00eeff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4df3ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#00eeff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IoT Smart Home",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "00518251c9bbb74d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5a4f4cfdabdf9dbe",
        "type": "ui_group",
        "name": "Kontrol Jendela",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0286b466557e583f",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "765add50c619ae4a",
        "type": "ui_group",
        "name": "Suhu",
        "tab": "0286b466557e583f",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37a9200c77115554",
        "type": "ui_group",
        "name": "TEXT",
        "tab": "0286b466557e583f",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d462bcf598d3ded",
        "type": "ui_group",
        "name": "Kecepatan Kipas",
        "tab": "0286b466557e583f",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1289cbcf973d7d3",
        "type": "ui_group",
        "name": "Jendela",
        "tab": "0286b466557e583f",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "728cbc97d06c5b09",
        "type": "ui_group",
        "name": "Kontrol Jendela",
        "tab": "208fb9c37be52648",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c908206e188e0fb3",
        "type": "ui_group",
        "name": "Kecepatan Kipas",
        "tab": "208fb9c37be52648",
        "order": 5,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "042cc1dcf02e4657",
        "type": "ui_group",
        "name": "Jumlah Orang",
        "tab": "0286b466557e583f",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b570ac039eefe50d",
        "type": "mqtt in",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "suhukj5",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "edb188411f8d8f7f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "255efbc9fa1a9169"
            ]
        ]
    },
    {
        "id": "255efbc9fa1a9169",
        "type": "debug",
        "z": "c13746f9bcfb86b9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "c1a4a5de504acc61",
        "type": "inject",
        "z": "c13746f9bcfb86b9",
        "name": "Jumlah Orang",
        "props": [
            {
                "p": "jumlahOrang",
                "v": "12",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8f190e14aabb44ee",
        "type": "ui_gauge",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "group": "765add50c619ae4a",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge suhu",
        "label": "°C",
        "format": "{{msg.suhu}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "ef7b9219dd77d08f",
        "type": "ui_switch",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "label": "switch jendela 1",
        "tooltip": "",
        "group": "728cbc97d06c5b09",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "67dbaa2ceebabbd8",
        "type": "ui_text",
        "z": "c13746f9bcfb86b9",
        "group": "728cbc97d06c5b09",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "Kontrol Jendela 1",
        "label": "Jendela 1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "8c52255ac2001f63",
        "type": "ui_text",
        "z": "c13746f9bcfb86b9",
        "group": "3d462bcf598d3ded",
        "order": 0,
        "width": "14",
        "height": "3",
        "name": "kecepatan kipas",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "6a6f0de04a086856",
        "type": "inject",
        "z": "c13746f9bcfb86b9",
        "name": "suhu",
        "props": [
            {
                "p": "suhu",
                "v": "35",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "738dad5a6b502c7f",
        "type": "inject",
        "z": "c13746f9bcfb86b9",
        "name": "kipas",
        "props": [
            {
                "p": "kipas",
                "v": "40",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "54688f3f6cf79478",
        "type": "inject",
        "z": "c13746f9bcfb86b9",
        "name": "Jendela 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 180,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e7b5eafad4d0e387",
        "type": "ui_text",
        "z": "c13746f9bcfb86b9",
        "group": "b1289cbcf973d7d3",
        "order": 0,
        "width": "7",
        "height": "2",
        "name": "Monitor Jendela 1",
        "label": "Jendela 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "4ad66d7f7c982779",
        "type": "ui_switch",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "label": "switch jendela 2",
        "tooltip": "",
        "group": "728cbc97d06c5b09",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "7f2c56603ddb647c",
        "type": "inject",
        "z": "c13746f9bcfb86b9",
        "name": "Jendela 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 180,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5d650f84edbafd5f",
        "type": "ui_text",
        "z": "c13746f9bcfb86b9",
        "group": "c908206e188e0fb3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Kontrol Kipas",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "1d44c18401ce9b8a",
        "type": "inject",
        "z": "c13746f9bcfb86b9",
        "name": "Kontrol Kipas",
        "props": [
            {
                "p": "kontrolKipas",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3fb9d131d90616d1",
        "type": "ui_text",
        "z": "c13746f9bcfb86b9",
        "group": "042cc1dcf02e4657",
        "order": 0,
        "width": "7",
        "height": "4",
        "name": "Jumlah Orang",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 640,
        "y": 760,
        "wires": []
    },
    {
        "id": "e8bf574a4a74f6ca",
        "type": "mqtt in",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "smarthomeIoT/suhu",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6cec62dbab95ce82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "8f190e14aabb44ee",
                "4c7b9019418233bb"
            ]
        ]
    },
    {
        "id": "7d7e69348745504f",
        "type": "mqtt in",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "smarthomeIoT/kecepatan",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6cec62dbab95ce82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "8c52255ac2001f63"
            ]
        ]
    },
    {
        "id": "11d1908360e43245",
        "type": "mqtt in",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "smarthomeIoT/jendela",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6cec62dbab95ce82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "e7b5eafad4d0e387",
                "67dbaa2ceebabbd8"
            ]
        ]
    },
    {
        "id": "3bc7272c57600d23",
        "type": "mqtt in",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "kontrol kipas",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6cec62dbab95ce82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "5d650f84edbafd5f"
            ]
        ]
    },
    {
        "id": "0205d059fd2c72d6",
        "type": "mqtt in",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "smarthomeIoT/jumlahOrang",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6cec62dbab95ce82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 760,
        "wires": [
            [
                "3fb9d131d90616d1"
            ]
        ]
    },
    {
        "id": "f64f6a182e0789d0",
        "type": "mqtt out",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "topic": "smarthomeIoT/kontrolkecepatan",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cec62dbab95ce82",
        "x": 690,
        "y": 940,
        "wires": []
    },
    {
        "id": "2b6951bc205f8c0c",
        "type": "ui_slider",
        "z": "c13746f9bcfb86b9",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "c908206e188e0fb3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "kontrolKipas",
        "topicType": "msg",
        "min": "0",
        "max": "3",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "f64f6a182e0789d0"
            ]
        ]
    },
    {
        "id": "4c7b9019418233bb",
        "type": "debug",
        "z": "c13746f9bcfb86b9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 500,
        "wires": []
    }
]